<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div class="container">
    <div class="row">
        <div class="boxs" th:with="
        size=${featureGridItems.size()},
        cols=${size <= 3 ? (12/size) : 4}">
            <div th:each="featureGridItem : ${featureGridItems}" th:class="col-md-__${cols}__">

                <a th:href="${featureGridItem.link[0].url}"
                   th:target="${featureGridItem.blank[0]?.value} ? _blank : _self"
                   class="wow bounceIn"
                   data-wow-offset="0"
                   data-wow-delay="0.8s">
                    <div class="align-center">
                        <h4 th:text="${featureGridItem.heading[0].value}">Quick Support</h4>
                        <div class="icon">
                            <i class="fa fa-3x" th:classappend="${featureGridItem.icon[0].code}"></i>
                        </div>
                        <span class="text-container" th:utext="${featureGridItem.description[0].value}">
                            Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                        </span>
                        <div class="ficon">
                            <span th:text="${featureGridItem.link[0].value}">Learn more</span>
                        </div>
                    </div>
                </a>

            </div>

        </div>
    </div>
</div>
</html>