<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div class="content">
    <h2><span th:text="${title[0].value}">Nam libero tempore cum solutanobis est eligendi optio cumque</span></h2>
    <span th:utext="${text[0].value}">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            soluta nobis est eligendi optio cumque nihil impedit quo minus id </span>
</div>
</html>